* {
    text-align: center;
}

body {
    background-image: url("https://i.ytimg.com/vi/21Cg61G6k7w/maxresdefault.jpg");
}

.header {
    margin: 20px;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}