<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Tip Calculator</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div> Tip Calculator Results</div>
        
        <div>Amount: <span th:text="'$' + ${amount}"></span> </div>
        <div> Tip Percentage: <span th:text="${tipPercent} + '%'"></span></div>
        <div>Tip Amount: <span th:text="'$' + ${tipAmount}"></span> </div>
        <div>Total Bill: <span th:text="'$' + ${total}"></span></div>
        
        <br />
        <button><a href="/">Back to home</a></button>
    </body>
</html>
