body {
   
    background-attachment: fixed;
    background-position: right-top;
    background-repeat: no-repeat;

    background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
}

.header {
    text-align: center;
    margin-top: 40px;
}

.main {
    text-align: center;
    display: flex;
}

/* .treats {
   
} */

#treat {
    background-color: blue;
    margin: 10px;
    padding: 10px;
}

.userDisplay{
    background-color: turquoise;
}


#changeIn, #messageToDisplay , #changeReturned{
    min-height: 30px;
    background-color: white;
}

#itemSelected {
    
    display: inline-block;
    height: 30px;
    width: 150px;
    background-color: white;
}

#item-id {
    margin-top: 0;
    margin-left: 0;
    text-align: left;
}
