<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Powerball -- Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <h1>Let's Play Powerball!</h1>
            Know your lucky numbers? Buy a ticket and add your numbers!
            <a class="btn btn-secondary" href="/buyTicket">Purchase a ticket with my numbers!</a> <br> <br>
            Would you rather take a blind risk? Buy a Quick Pick ticket with randomly generated numbers!
            <a class="btn btn-secondary" href="/buyQuickPick">Purchase a Quick Pick ticket!</a> <br> <br>
            <a class="btn btn-secondary" href="/drawPowerball">Draw a new winner!</a>
            
        </div>
    </body>
</html>
